.vvp-header__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-bordered{
    margin: 0;
}
.vvp-grid{
    display: flex;
    justify-content: center;
}
.vvp-new-keys__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px;
}
.vvp-new-key{
    border: 1px solid black;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 60px;
}

.vvp-input__error-msg{
    color:red;
}
.vvp-input__warning-msg{
    color:yellow;
}