.vvp-header__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-bordered{
    margin: 0;
}
.vvp-grid{
    display: flex;
    justify-content: center;
}
.vvp-new-keys__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px;
}
.vvp-new-key{
    border: 1px solid black;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 60px;
}

.vvp-input__error-msg{
    margin-bottom: 0;
    padding: 5px;
}
.vvp-input__warning-msg{
    margin-bottom: 0;
    padding: 5px;
}

.allEmployeeBtn--hide {
    display: none;
}
.vvp-config-icon:hover{
    text-decoration: none;
}

.vvp-logout-icon{
    width: 20px;
    fill: #fff;
}

.vvp-logout-button{
    display: block;
    margin-left: auto;
}