.vvp-form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.vvp-form-signin__input{
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.vvp-form-signin__input{
    margin-bottom: 10px;
}
.vvp-register{
    max-width: 330px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 15px;
}
.vvp-register__button{
    color:#fff;
    border-radius: 6px;
    font-family: inherit;
    background-color: #ddd;
}
.vvp-register__button:hover{
    color:#fff;
    background-color: #A9A9A9;
}
.vvp-register__button:focus{
    color:#fff
}